

openapi: 3.0.0
info:
  version: 1.0.0
  title: Veloce API
  description: Documentation of the Veloce API, as it is used by the Veloce Analytics
    website.
  x-logo:
    url: https://velocehq.com/wp-content/uploads/2020/02/icone-for-website-300x108.png
    altText: Veloce logo
servers:
- url: https://api.posveloce.com
security:
- bearerAuth: []
tags:
- name: authentication
- name: big divisions
- name: coupons
- name: discounts
- name: divisions
- name: employees
- name: groups
- name: indicators
- name: invoices
- name: items
- name: locations
- name: modes
- name: permissions
- name: sales
- name: suppliers
- name: taxes
- name: tender types
- name: transactions
- name: users
- name: workstations
paths:
  /bigDivisions:
    get:
      description: Returns a list of big divisions. If no `locationIDs` and `groupIDs`
        are specified, big divisions for all locations will be returned. The remote
        IDs are 1-indexed in this endpoint.
      operationId: getBigDivisions
      parameters:
      - description: The ids of the locations to get the big divisions from
        in: query
        name: locationIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The ids of groups of locations to get big divisions from. Can
          be provided alongside additional locationIDs
        in: query
        name: groupIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: Indicates the field used to sort results.
        in: query
        name: sort
        schema:
          default: name
          enum:
          - name
          - alternativeName
          type: string
      - description: Indicates how the results will be ordered.
        in: query
        name: order
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
      - description: The max number of big divisions to return from the given `offset`,
          with a minimum value of 1 and maximum of 250
        in: query
        name: limit
        required: false
        schema:
          type: number
      - description: The rank of the big divisions to start searching from, starting
          at 0
        in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Whether or not the response must contain the pagination information
        in: query
        name: pagination
        required: false
        schema:
          default: false
          type: boolean
      - description: Filters the returned object to only get big divisions whose names
          contain the given search text
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: Which kind(s) of additional related data to load for each big
          division.
        in: query
        name: include
        required: false
        schema:
          enum:
          - tax
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/BigDivisionWithLocationIDPaginated'
                - $ref: '#/components/schemas/BigDivisionWithLocationIDArray'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get big divisions
      tags:
      - big divisions
  /coupons/{couponID}:
    get:
      description: This endpoint is to be used only by the Veloce POS to validate
        a given coupon is valid.
      operationId: getCouponById
      parameters:
      - description: The id of the coupon
        in: path
        name: couponID
        required: true
        schema:
          type: string
      - description: The licence number
        example: 12345
        in: header
        name: VEL-LICENCE
        required: true
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: OK.
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "410":
          description: The coupon has expired
        "500":
          $ref: '#/components/responses/InternalServerError'
      security:
      - locationOnly: []
      summary: Get non-expired coupon
      tags:
      - coupons
  /discounts:
    get:
      operationId: getDiscounts
      parameters:
      - description: The ids of the location(s) to get discounts for.
        in: query
        name: locationIDs
        required: false
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The ids of groups of locations to get discounts from. Can be
          provided alongside additional locationIDs.
        in: query
        name: groupIDs
        required: false
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The max number of discounts to return from the given `offset`,
          with a minimum value of 1 and maximum of 250.
        in: query
        name: limit
        required: false
        schema:
          type: number
      - description: The rank of the discounts to start searching from, starting at
          0.
        in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Whether or not the response must contain the pagination information.
          If enabled, `limit` is defaulted to 250 when not set.
        in: query
        name: pagination
        required: false
        schema:
          default: false
          type: boolean
      - description: Filters the returned object to only get discounts whose names
          contain the given search text.
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: Which kind(s) of additional related data to load for each discount.
        in: query
        name: include
        required: false
        schema:
          enum:
          - taxesCategory
          - items
          - subCategories
          - availability
          type: string
      - description: Indicates the field used to sort results.
        in: query
        name: sort
        schema:
          default: name
          enum:
          - name
          - alternativeName
          type: string
      - description: Indicates how the results will be ordered.
        in: query
        name: order
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                discriminator:
                  mapping:
                    discountArray: '#/components/schemas/DiscountArray'
                    discountPaginated: '#/components/schemas/DiscountPaginated'
                oneOf:
                - $ref: '#/components/schemas/DiscountPaginated'
                - $ref: '#/components/schemas/DiscountArray'
          description: An array of discounts.
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get discounts
      tags:
      - discounts
  /discounts/{discountID}:
    get:
      operationId: getDiscountById
      parameters:
      - description: The id of the discount to get.
        in: path
        name: discountID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discount'
          description: a discount
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get a discount by its id
      tags:
      - discounts
  /discounts/{discountID}/schedule:
    get:
      deprecated: true
      description: |
        This endpoint is deprecated. Get the discount schedule availability by modes.
      operationId: getDiscountSchedule
      parameters:
      - description: The id of the discount to search the schedule for
        in: path
        name: discountID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The max number of schedules to return from the given `offset`,
          with a minimum value of 1 and maximum of 250
        in: query
        name: limit
        required: false
        schema:
          default: 250
          type: number
      - description: The rank of the schedules to start searching from, starting at
          0
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DiscountSchedule'
                type: array
          description: An array of discount schedules
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get discount schedule
      tags:
      - discounts
  /divisions:
    get:
      description: Returns a list of divisions. If no `locationIDs` and `groupIDs`
        are specified, divisions for all locations will be returned. The remote IDs
        are 1-indexed in this endpoint.
      operationId: getDivisions
      parameters:
      - description: The ids of the locations to get the divisions from
        in: query
        name: locationIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The ids of groups of locations to get divisions from. Can be
          provided alongside additional locationIDs
        in: query
        name: groupIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: Whether or not the response must contain the pagination information
        in: query
        name: pagination
        required: false
        schema:
          default: false
          type: boolean
      - description: Filters the returned object to only get divisions whose names
          contain the given search text
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: Indicates the field used to sort results.
        in: query
        name: sort
        schema:
          default: name
          enum:
          - name
          - alternativeName
          type: string
      - description: Indicates how the results will be ordered.
        in: query
        name: order
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
      - description: The max number of divisions to return from the given `offset`,
          with a minimum value of 1 and maximum of 250
        in: query
        name: limit
        required: false
        schema:
          type: number
      - description: The rank of the divisions to start searching from, starting at
          0.
        in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Which kind(s) of additional related data to load for each division.
        in: query
        name: include
        required: false
        schema:
          enum:
          - taxes
          - priceQuantities
          - tipRedistributions
          - generalLedgerNumbers
          type: string
      - description: |
          Indicates the status of the division to retrieve.
          If not specified all division will be returned
        in: query
        name: isActive
        required: false
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/DivisionWithLocationPaginated'
                - $ref: '#/components/schemas/DivisionWithLocationArray'
          description: OK.
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get divisions
      tags:
      - divisions
  /divisions/{divisionID}:
    get:
      description: Get a division by its ID. The remote IDs are 1-indexed in this
        endpoint.
      operationId: getDivisionByID
      parameters:
      - description: The id of the division
        in: path
        name: divisionID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionWithLocation'
          description: The division
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get a division by its id
      tags:
      - divisions
  /employees:
    get:
      description: This returns employees for all or specified locations.
      operationId: getEmployees
      parameters:
      - description: The ids of the locations to get the employees from. If not specified,
          all locations will be returned
        in: query
        name: locationIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The VelCloud ID of the employee to get
        in: query
        name: employeeId
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - deprecated: true
        description: Any employee containing this name or part of name will be returned.
          Not case sensitive. This is deprecated by Search.
        example: ROY
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: The Veloce ID of the employee(s) to get
        in: query
        name: remoteId
        required: false
        schema:
          example: 1
          type: integer
      - description: Filters the returned object to only get the employees whose names
          contain the given search text.
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: Indicates how the results will be ordered.
        in: query
        name: order
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
      - description: |
          The max number of employees to return from the given `offset`,
          with a minimum value of 1, and a maximum value of 250.
        in: query
        name: limit
        required: false
        schema:
          default: 250
          maximum: 250
          minimum: 1
          type: number
      - description: The rank of the employee to start searching from, starting at
          0.
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EmployeeExtended'
                type: array
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get employees
      tags:
      - employees
  /groups:
    get:
      operationId: getGroups
      parameters:
      - description: The limit of returned groups
        example: 250
        limit: null
        type: integer
      - description: The offset of returned groups
        example: 1
        offset: null
        type: integer
      - description: Indicates the field used to sort results. If sort on `locationCount`
          or `userCount` the analytics will be included
        in: query
        name: sort
        schema:
          default: name
          enum:
          - name
          - kind
          - userCount
          - locationCount
          type: string
      - description: The group names to filter
        in: query
        name: name
        schema:
          maxLength: 25
          type: string
      - description: Which kind(s) of additional related data to load for the group.
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - analytics
            type: string
          type: array
      - $ref: '#/components/parameters/kindParam'
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/searchParamDeprecated'
      - $ref: '#/components/parameters/paginationParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        "200":
          content:
            application/json:
              schema:
                discriminator:
                  mapping:
                    groupArray: '#/components/schemas/GroupArray'
                    groupPaginated: '#/components/schemas/GroupPaginated'
                oneOf:
                - $ref: '#/components/schemas/GroupPaginated'
                - $ref: '#/components/schemas/GroupArray'
          description: OK
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get groups
      tags:
      - groups
  /groups/{groupID}:
    get:
      operationId: getGroupById
      parameters:
      - description: The id of the group
        in: path
        name: groupID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: Which kind(s) of additional related data to load for each group.
        in: query
        name: include
        required: false
        schema:
          enum:
          - createdByUser
          - lastUpdatedByUser
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get group by id
      tags:
      - groups
  /groups/{groupID}/coupons:
    get:
      description: |-
        Get all coupons belonging to a group.
        To get an excel report of that endpoint, add Content-Type `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet` in your request and Velcloud-ClientTime in the headers (required in RFC3339).
      operationId: getCouponsByGroupId
      parameters:
      - description: The id of the group
        in: path
        name: groupID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The coupon name to filter. The coupon name is partially matched.
        example: Coupon name
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: Whether the coupon is active or not.
        in: query
        name: isActive
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/couponTypeParam'
      - description: Filters the returned object to only get coupons codes whose codes
          contain the given search text.
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: Indicates the field used to sort results.
        in: query
        name: sort
        schema:
          default: code
          enum:
          - code
          - isActive
          - expires
          - name
          - plu1
          - plu1Amount
          - plu2
          - plu2Amount
          - redeemed
          - couponType
          type: string
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/paginationParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        "200":
          content:
            application/json:
              schema:
                discriminator:
                  mapping:
                    tableSectionArray: '#/components/schemas/CouponArray'
                    tableSectionPaginated: '#/components/schemas/CouponPaginated'
                oneOf:
                - $ref: '#/components/schemas/CouponPaginated'
                - $ref: '#/components/schemas/CouponArray'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                format: binary
                type: string
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get groups coupons
      tags:
      - coupons
  /groups/{groupID}/coupons/{couponCode}:
    get:
      operationId: getCouponByGroupIDAndCode
      parameters:
      - description: The id of the group
        in: path
        name: groupID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - $ref: '#/components/parameters/couponCodeParam'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
          description: OK
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get coupon
      tags:
      - coupons
  /groups/{groupID}/locations:
    get:
      operationId: getLocationsByGroupId
      parameters:
      - description: The id of the group
        in: path
        name: groupID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: Which kind(s) of additional related data to load for each group.
        in: query
        name: include
        required: false
        schema:
          enum:
          - location
          type: string
      - description: The name of location to filter. The location name is partially
          matched.
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: The address of location to filter. The location address is partially
          matched.
        in: query
        name: address
        required: false
        schema:
          type: string
      - description: The version number of the locations to filter. Send 0.0.0 for
          locations with versions under 9.53.1 (those don't send their version number
          to the cloud). The location version is partially matched.
        in: query
        name: version
        required: false
        schema:
          type: string
      - description: Indicates the field used to sort results.
        in: query
        name: sort
        schema:
          default: name
          enum:
          - name
          - address
          - version
          type: string
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/paginationParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        "200":
          content:
            application/json:
              schema:
                discriminator:
                  mapping:
                    groupArray: '#/components/schemas/GroupLocationArray'
                    groupPaginated: '#/components/schemas/GroupLocationPaginated'
                oneOf:
                - $ref: '#/components/schemas/GroupLocationPaginated'
                - $ref: '#/components/schemas/GroupLocationArray'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get locations attached to a group
      tags:
      - groups
  /groups/{groupID}/permissions:
    get:
      operationId: getGroupPermissions
      parameters:
      - description: The id of the group
        in: path
        name: groupID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - $ref: '#/components/parameters/paginationParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/orderParam'
      - description: Indicates the field used to sort results.
        in: query
        name: sort
        schema:
          default: fullName
          enum:
          - fullName
          - enabled
          - permission
          type: string
      - description: Filters the returned object to only get those where full name
          contain the given search text.
        in: query
        name: fullName
        required: false
        schema:
          maxLength: 25
          type: string
      - description: Filters the returned object to only get those that match the
          status.
        in: query
        name: enabled
        required: false
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                discriminator:
                  mapping:
                    userPermissionsArray: '#/components/schemas/UserWithExpandableUserPermissionsArray'
                    userPermissionsPaginated: '#/components/schemas/UserWithExpandableUserPermissionsPaginated'
                oneOf:
                - $ref: '#/components/schemas/UserWithExpandableUserPermissionsPaginated'
                - $ref: '#/components/schemas/UserWithExpandableUserPermissionsArray'
          description: OK.
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get group permissions
      tags:
      - groups
      - permissions
  /groups/{groupID}/products:
    get:
      operationId: getProductsByGroupId
      parameters:
      - description: The id of the group
        in: path
        name: groupID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              example:
              - groupId: 01234567-89ab-cdef-0123-456789abcdef
                productCode: COUPONS
              - groupId: 01234567-89ab-cdef-0123-456789abcdef
                productCode: ANOTHER-PRODUCT
              schema:
                items:
                  $ref: '#/components/schemas/GroupProduct'
                type: array
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get products attached to a group
      tags:
      - groups
  /indicators:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/sales/indicators` instead. This
        summary is computed from all locations for each currency you have access to.
      operationId: getIndicators
      parameters:
      - description: The beginning of the time range to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider, augmented to
          be at least one day after 'from'
        example:
        - "2018-02-01T23:59:59Z"
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Indicators'
                type: array
          description: An array containing the indicators for each currency
        "204":
          description: No content. You don't have access to any location
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get a summary of indicators of all locations
      tags:
      - indicators
  /indicators/discount:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/sales/indicators` instead. This
        discount summary is computed from all locations you have access to
      operationId: getDiscountSummary
      parameters:
      - description: The beginning of the time range to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider, augmented to
          be at least one day after 'from'
        example:
        - "2018-02-01T23:59:59Z"
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      responses:
        "200":
          content:
            application/json:
              example:
              - currency: $
                currencyDecimal: 2
                invoiceDiscount: 10
                itemsDiscount: 2.35
              - currency: €
                currencyDecimal: 2
                invoiceDiscount: 45
                itemsDiscount: 123
              schema:
                items:
                  $ref: '#/components/schemas/DiscountIndicators'
                type: array
          description: An object containing the indicators
        "204":
          description: No content. You don't have access to any location
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get discount summary indicators per currencies of all locations
      tags:
      - indicators
  /invoices:
    get:
      description: |
        Returns up to `limit` invoices ordered by `timeSource`, starting at `offset`.
        If no `locationIDs` and no `groupIDs` are specified, invoices for all locations will be returned. The selection
        is always trimmed to `licenceNumber`.
        To get a pdf export of that endpoint, add Content-Type `application/pdf`
        in your request and Velcloud-ClientTime in the headers (required in RFC3339).
        The pdf export is limited to 3000 invoices.
      operationId: getInvoices
      parameters:
      - $ref: '#/components/parameters/invoiceDetailedTaxes'
      - $ref: '#/components/parameters/invoiceIncludes'
      - $ref: '#/components/parameters/paginationParam'
      - $ref: '#/components/parameters/langParam'
      - description: The IDs of groups of locations to get invoices from. Can be provided
          alongside additional locationIDs
        in: query
        name: groupIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The locationIDs to get invoices from
        in: query
        name: locationIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The licence number(s) to restrict the search to.
        example:
        - 44000
        - 44001
        explode: true
        in: query
        name: licenceNumber
        required: false
        schema:
          items:
            $ref: '#/components/schemas/LicenceNumber'
          type: array
        style: form
      - description: The beginning of the time range to consider.
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: false
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider.
        example:
        - "2018-01-02T23:59:59Z"
        in: query
        name: to
        required: false
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: |
          The max number of invoices to return from the given `offset`,
          with a minimum value of 1, and a maximum value of 250.
        in: query
        name: limit
        required: false
        schema:
          type: number
      - description: The rank of the invoice to start searching from, starting at
          0.
        in: query
        name: offset
        required: false
        schema:
          type: number
      - description: Whether to get training invoices or not
        in: query
        name: training
        schema:
          default: false
          type: boolean
      - in: query
        name: timeSource
        schema:
          default: invoiceTime
          description: |
            The time to use to filter results when `from` and/or `to` is provided:
            - invoiceTime: The invoice date configured in Veloce which is either the time the invoice was opened (openTime) or the time the invoice was closed (closeTime).
            - created: The datetime when the invoice was added to the database
            - openTime: The datetime when the invoice was opened
            - closeTime: The datetime when the invoice was closed. This value is not set (1970-01-01 00:00:00) for invoices created on Veloce version < 9.50.0
            - lastUpdated: The datetime for the last invoice update
          enum:
          - invoiceTime
          - created
          - openTime
          - closeTime
          - lastUpdated
          type: string
      - in: query
        name: refund
        schema:
          description: |
            If not specified, all invoices will be returned.
            If refund = true, the endpoint will return all invoices that have a negative balance.
            If refund = false, the endpoint will return all invoices that have a positive or zero total.
          type: boolean
      - in: query
        name: itemRefunds
        schema:
          default: false
          description: |
            If not specified, all invoices will be returned.
            If itemRefunds = true, the endpoint will return all invoices that have at least one refunded item on it.
            itemRefunds = false is not supported.
          type: boolean
      - description: |
          The invoice number to filter.
          Invoice numbers are partially matched from the end of the number.
          If no specified all invoices will be returned.
        in: query
        name: invoiceNumber
        required: false
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                discriminator:
                  mapping:
                    invoicesArray: '#/components/schemas/ExpandableInvoiceArray'
                    invoicesPaginated: '#/components/schemas/ExpandableInvoicePaginated'
                oneOf:
                - $ref: '#/components/schemas/ExpandableInvoicePaginated'
                - $ref: '#/components/schemas/ExpandableInvoiceArray'
            application/pdf:
              schema:
                description: Pdf binary content
                format: binary
                type: string
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "413":
          $ref: '#/components/responses/TooLarge'
        "422":
          $ref: '#/components/responses/UnprocessableEntity'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get invoices
      tags:
      - invoices
  /invoices/{invoiceID}:
    get:
      description: Returns an invoice by its id. To get a pdf export of that endpoint,
        add Content-Type `application/pdf` in your request and Velcloud-ClientTime
        in the headers (required in RFC3339).
      operationId: getInvoiceById
      parameters:
      - $ref: '#/components/parameters/invoiceDetailedTaxes'
      - $ref: '#/components/parameters/invoiceIncludes'
      - $ref: '#/components/parameters/langParam'
      - description: The id of the invoice
        in: path
        name: invoiceID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandableInvoice'
            application/pdf:
              schema:
                description: Pdf binary content
                format: binary
                type: string
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get invoice by id
      tags:
      - invoices
  /items:
    get:
      description: Returns all items for the locations. The remote IDs are 1-indexed
        in this endpoint.
      operationId: getItems
      parameters:
      - description: The ids of the locations to get the items from
        in: query
        name: locationIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The ids of groups of locations to get items from. Can be provided
          alongside additional locationIDs
        in: query
        name: groupIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The ids of the divison to get the items from
        in: query
        name: divisionIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The types of the items to get
        in: query
        name: itemTypes
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ItemType'
          type: array
      - description: The state of the items to get
        in: query
        name: isActive
        required: false
        schema:
          type: boolean
      - description: the kind of item
        in: query
        name: kind
        required: false
        schema:
          $ref: '#/components/schemas/ItemKind'
      - description: The max number of items to return from the given `offset`, with
          a minimum value of 1 and maximum of 250
        in: query
        name: limit
        required: false
        schema:
          default: 250
          type: number
      - description: The rank of the items to start searching from, starting at 0.
        in: query
        name: offset
        required: false
        schema:
          type: number
      - description: The search string.
        in: query
        name: search
        required: false
        schema:
          example: cafe
          maxLength: 25
          minLength: 1
          type: string
      - description: Whether or not the response must contain pagination information.
        in: query
        name: pagination
        required: false
        schema:
          default: false
          example: false
          type: boolean
      - description: Indicates the field used to sort results.
        in: query
        name: sort
        schema:
          default: name
          enum:
          - name
          - alternativeName
          type: string
      - description: Indicates how the results will be ordered.
        in: query
        name: order
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                - items:
                    $ref: '#/components/schemas/Item'
                  type: array
                - $ref: '#/components/schemas/ItemPaginated'
          description: An array containing the items
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get items
      tags:
      - items
  /locations:
    get:
      operationId: getLocations
      parameters:
      - description: Which kind(s) of additional related data to load for each location.
        in: query
        name: include
        required: false
        schema:
          enum:
          - groups
          - country
          type: string
      - description: The licence number(s) to look for in the locations.
        explode: true
        in: query
        name: licenceNumber
        required: false
        schema:
          items:
            $ref: '#/components/schemas/LicenceNumber'
          maximum: 3000
          type: array
        style: form
      - description: Filter to partially match the end (suffix) of a location licence
          number.
        example:
        - 68
        - 97
        explode: true
        in: query
        name: searchLicence
        required: false
        schema:
          items:
            $ref: '#/components/schemas/LicenceNumber'
          maximum: 5
          type: array
        style: form
      - description: The beginning of the time range of creation date to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: false
        schema:
          $ref: '#/components/schemas/DateTime'
      - description: The excluded end of the time range of creation date to consider,
          augmented to be at least one day after 'from'
        example:
        - "2018-01-02T23:59:59Z"
        in: query
        name: to
        required: false
        schema:
          $ref: '#/components/schemas/DateTime'
      - description: The version number of the locations to get. Send 0.0.0 for locations
          with versions under 9.53.1 (those don't send their version number to the
          cloud)
        in: query
        name: version
        required: false
        schema:
          type: string
      - deprecated: true
        description: The id of the country associated to the location.
        in: query
        name: countryId
        required: false
        schema:
          $ref: '#/components/schemas/UUID'
          type: string
      - description: The name of location to filter. The location name is partially
          matched.
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: The reporting display name of location to filter. The location
          reporting display name is partially matched.
        in: query
        name: reportingDisplayName
        required: false
        schema:
          type: string
      - description: The group name associated to location to filter. The group name
          is partially matched.
        in: query
        name: group
        required: false
        schema:
          type: string
      - description: The address of location to filter. The location address is partially
          matched.
        in: query
        name: address
        required: false
        schema:
          type: string
      - description: The alpha3 ISO-3166 code of the country of location to filter.
        in: query
        name: country
        required: false
        schema:
          type: string
      - description: |
          The max number of locations to return from the given `offset`,
          with a minimum value of 1, and a maximum value of 250.
        in: query
        name: limit
        required: false
        schema:
          default: 250
          maximum: 250
          minimum: 1
          type: number
      - description: The rank of the locations to start searching from, starting at
          0.
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
      - description: Indicates the field used to sort results.
        in: query
        name: sort
        schema:
          default: name
          enum:
          - name
          - reportingDisplayName
          - address
          - version
          - lastInvoiceTime
          - created
          - group
          - clientId
          - countryCode
          - licenceNumber
          type: string
      - deprecated: true
        description: Filters the returned object to only get whose name or reportingDisplayName
          or address. contain the given search text.
        in: query
        name: search
        required: false
        schema:
          maxLength: 25
          type: string
      - description: The client id associated to the location.
        in: query
        name: clientId
        required: false
        schema:
          maxLength: 40
          type: string
      - $ref: '#/components/parameters/orderParam'
      - $ref: '#/components/parameters/paginationParam'
      responses:
        "200":
          content:
            application/json:
              schema:
                discriminator:
                  mapping:
                    locationArray: '#/components/schemas/LocationArray'
                    locationPaginated: '#/components/schemas/LocationPaginated'
                oneOf:
                - $ref: '#/components/schemas/LocationPaginated'
                - $ref: '#/components/schemas/LocationArray'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get locations
      tags:
      - locations
  /locations/{locationID}:
    get:
      operationId: getLocationById
      parameters:
      - description: The id of the location
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: OK
        "400":
          description: Bad Request. Please note to use the "id" of the location in
            the URL, not its licence number
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get a location by its id
      tags:
      - locations
  /locations/{locationID}/bigDivisions/{bigDivisionID}:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/bigDivisions/{bigDivisionID}`
        instead. Get a big division by its ID. The remote IDs are 1-indexed in this.
      operationId: getBidivisionByIDDeprecated
      parameters:
      - description: The id of the location
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The id of the big division
        in: path
        name: bigDivisionID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigDivisionOld'
          description: The big division
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get big division by id
      tags:
      - big divisions
  /locations/{locationID}/bigDivisions/{bigDivisionID}/divisions/{divisionID}:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/divisions/{divisionID}` instead.
        Get a division by its ID. The remote IDs are 1-indexed in this endpoint.
      operationId: getDivisionByIDDeprecated
      parameters:
      - description: The id of the location
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The id of the big division
        in: path
        name: bigDivisionID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The id of the division
        in: path
        name: divisionID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionWithBigDivisionOld'
          description: The division
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get a division by its id
      tags:
      - divisions
  /locations/{locationID}/bigDivisions/{bigDivisionID}/divisions/{divisionID}/items/sales:
    get:
      operationId: getSalesSummariesBrokenDownByInvoiceItems
      parameters:
      - description: The id of the location to get indicators for
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The id of the big division to get indicators for
        in: path
        name: bigDivisionID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The id of the division to get indicators for
        in: path
        name: divisionID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The beginning of the time range to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider, augmented to
          be at least one day after 'from'
        example:
        - "2018-01-02T23:59:59Z"
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The max number of sales to return from the given `offset`, with
          a minimum value of 1 and maximum of 250.
        in: query
        name: limit
        required: false
        schema:
          type: number
      - description: The rank of the sales to start searching from, starting at 0.
        in: query
        name: offset
        required: false
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ItemSales'
                type: array
          description: An object containing the sales summaries
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get sales by a location's big division's division broken down by invoice
        items
      tags:
      - locations
  /locations/{locationID}/bigDivisions/{bigDivisionID}/divisions/sales:
    get:
      operationId: getSalesSummariesBrokenDownByDivisions
      parameters:
      - description: The id of the location to get indicators for
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The id of the big division to get indicators for
        in: path
        name: bigDivisionID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The beginning of the time range to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider, augmented to
          be at least one day after 'from'
        example:
        - "2018-01-02T23:59:59Z"
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The max number of sales to return from the given `offset`, with
          a minimum value of 1 and maximum of 250.
        in: query
        name: limit
        required: false
        schema:
          type: number
      - description: The rank of the sales to start searching from, starting at 0.
        in: query
        name: offset
        required: false
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              example:
              - alternativeName: Ma Division
                currency: $
                currencyDecimal: 2
                id: 01234567-89ab-cdef-0123-456789abcdef
                name: My Division
                ownerId: 01234567-89ab-cdef-0123-456789abcdef
                quantity: 23
                salesAmount: 17.59
              schema:
                items:
                  $ref: '#/components/schemas/Sales'
                type: array
          description: An object containing the sales summaries
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get sales by a location's big division broken down by divisions
      tags:
      - locations
  /locations/{locationID}/bigDivisions/sales:
    get:
      deprecated: true
      description: This API is deprecated. Use /locations/bigDivisions/sales under
        'sales' instead.
      operationId: getSalesSummariesBrokenDownByBigDivisions
      parameters:
      - description: The id of the location to get indicators for
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The beginning of the time range to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider, augmented to
          be at least one day after 'from'
        example:
        - "2018-01-02T23:59:59Z"
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The max number of sales to return from the given `offset`, with
          a minimum value of 1 and maximum of 250.
        in: query
        name: limit
        required: false
        schema:
          type: number
      - description: The rank of the sales to start searching from, starting at 0.
        in: query
        name: offset
        required: false
        schema:
          type: number
      responses:
        "200":
          content:
            application/json:
              example:
              - alternativeName: Ma Grande Division
                currency: $
                currencyDecimal: 2
                id: 01234567-89ab-cdef-0123-456789abcdef
                name: My Big Division
                quantity: 105
                salesAmount: 1909.96
              schema:
                items:
                  $ref: '#/components/schemas/Sales'
                type: array
          description: An object containing the sales summaries
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get gross sales by location broken down by big divisions
      tags:
      - locations
  /locations/{locationID}/employees/sales:
    get:
      description: |
        It returns employee sales along with the big division, division
        and item information.
        To get an excel report of that endpoint, add Content-Type `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`
        in your request and Velcloud-ClientTime in the headers (required in RFC3339). Use `groupByRevenueCenterParam` param to get the report with revenue centers.
      operationId: getEmployeesSales
      parameters:
      - description: The id of the location to get sales for
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The beginning of the time range to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider, augmented to
          be at least one day after 'from'
        example:
        - "2018-01-02T23:59:59Z"
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - $ref: '#/components/parameters/paginationParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      - $ref: '#/components/parameters/groupByRevenueCenterParam'
      responses:
        "200":
          content:
            application/json:
              schema:
                discriminator:
                  mapping:
                    salesEmployeeArray: '#/components/schemas/SalesEmployeeArray'
                    salesEmployeePaginated: '#/components/schemas/SalesEmployeePaginated'
                oneOf:
                - $ref: '#/components/schemas/SalesEmployeePaginated'
                - $ref: '#/components/schemas/SalesEmployeeArray'
            application/vnd.ms-excel:
              schema:
                description: Excel binary content
                format: binary
                type: string
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get detailed employee sales and quantities
      tags:
      - locations
  /locations/{locationID}/groups:
    get:
      description: Returns all groups linked to which this location belongs/is linked
        to.
      operationId: getLocationGroups
      parameters:
      - description: The id of the location to get groups for
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Group'
                type: array
          description: An object containing the groups
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get location groups
      tags:
      - locations
  /locations/{locationID}/indicators:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/sales/indicators` instead.
      operationId: getIndicatorsByLocation
      parameters:
      - description: The id of the location to get indicators for
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The beginning of the time range to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider, augmented to
          be at least one day after 'from'
        example:
        - "2018-01-02T23:59:59Z"
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indicators'
          description: An object containing the indicators
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get indicators by location
      tags:
      - indicators
  /locations/{locationID}/indicators/discount:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/sales/indicators` instead. This
        discount summary is computed for the location
      operationId: getDiscountSummaryForLocation
      parameters:
      - description: The id of the location to get indicators for
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The beginning of the time range to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider, augmented to
          be at least one day after 'from'
        example:
        - "2018-02-01T23:59:59Z"
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      responses:
        "200":
          content:
            application/json:
              example:
              - currency: $
                currencyDecimal: 2
                invoiceDiscount: 10
                itemsDiscount: 2.35
              schema:
                items:
                  $ref: '#/components/schemas/DiscountIndicators'
                type: array
          description: An object containing the indicators
        "204":
          description: No content. You don't have access to any location
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get discount summary indicators per currencies of a specific location
      tags:
      - indicators
  /locations/{locationID}/items:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/items`. Returns all active items
        for the location.
      operationId: getLocationItems
      parameters:
      - description: The id of the location to get items for
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - id: 01234567-89ab-cdef-0123-456789abcdef
                  itemType: 20
                  nameAlt: Mon item
                  nameMain: My Item
                  plu1: "6125"
                  plu2: "1"
                  remoteId: 10
                items:
                  properties:
                    id:
                      $ref: '#/components/schemas/UUID'
                      description: The id of the item
                    itemType:
                      allOf:
                      - $ref: '#/components/schemas/ItemType'
                      description: The type of item
                    nameAlt:
                      description: The alternative name of the item
                      type: string
                    nameMain:
                      description: The main name of the item
                      type: string
                    plu1:
                      description: The first price look up of the products. Can be
                        null
                      type: string
                    plu2:
                      description: The second price look up of the products. Can be
                        null
                      type: string
                    remoteId:
                      description: The remote ID of the item
                      type: integer
                type: array
          description: An array containing the items
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get location items
      tags:
      - locations
  /locations/{locationID}/permissions:
    get:
      operationId: getLocationPermissions
      parameters:
      - description: The id of the location
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - description: Which kind(s) of additional related data to load for each permission.
        in: query
        name: include
        required: false
        schema:
          enum:
          - group
          type: string
      - description: Filters the returned object to only get those where full name
          contain the given search text.
        in: query
        name: fullName
        required: false
        schema:
          maxLength: 40
          type: string
      - description: Filters the returned object to only get those that match the
          status.
        in: query
        name: enabled
        required: false
        schema:
          type: boolean
      - description: Indicates the field used to sort results.
        in: query
        name: sort
        required: false
        schema:
          default: fullName
          enum:
          - fullName
          - enabled
          type: string
      - $ref: '#/components/parameters/paginationParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/offsetParam'
      responses:
        "200":
          content:
            application/json:
              schema:
                discriminator:
                  mapping:
                    userWithExpandableUserPermissionsArray: '#/components/schemas/UserWithExpandableUserPermissionsArray'
                    userWithExpandableUserPermissionsPaginated: '#/components/schemas/UserWithExpandableUserPermissionsPaginated'
                oneOf:
                - $ref: '#/components/schemas/UserWithExpandableUserPermissionsPaginated'
                - $ref: '#/components/schemas/UserWithExpandableUserPermissionsArray'
          description: OK.
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get location permissions
      tags:
      - locations
      - permissions
  /locations/{locationID}/popups:
    get:
      description: Returns all active popups for the location.
      operationId: getLocationPopups
      parameters:
      - description: The id of the location to get popup for
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - id: 01234567-89ab-cdef-0123-456789abcdef
                  nameAlt: Mon popup
                  nameMain: My popup
                  remoteId: 10
                items:
                  properties:
                    id:
                      $ref: '#/components/schemas/UUID'
                      description: The id of the popup
                    nameAlt:
                      description: The alternative name of the popup
                      type: string
                    nameMain:
                      description: The main name of the popup
                      type: string
                    remoteId:
                      description: The remote ID of the popup
                      type: integer
                type: array
          description: An array containing the popups
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get location popups
      tags:
      - locations
  /locations/{locationID}/products:
    get:
      description: Returns all active products (items and popups) for the location.
      operationId: getLocationProducts
      parameters:
      - description: The id of the location to get products for
        in: path
        name: locationID
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - id: 01234567-89ab-cdef-0123-456789abcdef
                  kind: 0
                  nameAlt: mon item
                  nameMain: my item
                  plu1: "6125"
                  plu2: "10"
                  remoteId: 10
                - id: 11234567-89ab-cdef-0123-456789abcdef
                  kind: 0
                  nameAlt: mon item
                  nameMain: my item
                  plu1: null
                  plu2: null
                  remoteId: 15
                items:
                  $ref: '#/components/schemas/ProductDeprecated'
                type: array
          description: An array containing the products
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get location products
      tags:
      - locations
  /locations/bigDivisions/sales:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/sales/bigDivisions` instead.
      responses:
        "200":
          description: An array of objects containing the big division sales information
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get big division sales
      tags:
      - locations
  /locations/departments/sales:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/sales/departments` instead.
      responses:
        "200":
          description: An array of objects containing the deparments sales information
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get department sales
      tags:
      - locations
  /locations/modes/sales:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/sales/modes` instead.
      responses:
        "200":
          description: An array of objects containing the mode sales information
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get mode sales
      tags:
      - locations
  /locations/paymodes/sales:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/sales/paymodes` instead.
      responses:
        "200":
          description: An array of objects containing the paymodes sales information
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get paymode sales
      tags:
      - locations
  /locations/products/sales:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/sales/products` instead.
      responses:
        "200":
          description: An array of objects containing the products sales information
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get product sales
      tags:
      - locations
  /locations/sales:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/sales/locations` instead.
      responses:
        "200":
          description: An array of objects containing the location sales information
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get location sales
      tags:
      - locations
  /locations/versions:
    get:
      description: |
        Returns the version history for each location
        If no `locationIDs` and no `groupIDs` are specified, versions for all locations will be returned.
        Veloce versions before 9.53.1 will either be absent or "0.0.0" if the location configs were synced at some point
      operationId: getLocationsVersions
      parameters:
      - description: The beginning of the time range to consider. Versions will be
          filtered on `start` date
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: false
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The end of the time range to consider. Versions will be filtered
          on `end` date
        example:
        - "2018-01-02T23:59:59Z"
        in: query
        name: to
        required: false
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The ids of the locations to get the sales from
        in: query
        name: locationIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The ids of groups of locations to get sales from. Can be provided
          alongside additional locationIDs
        in: query
        name: groupIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - $ref: '#/components/parameters/currencyParam'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LocationsVersions'
                type: array
          description: An array containing the versions by location
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get versions
      tags:
      - locations
  /locations/zones/sales:
    get:
      deprecated: true
      description: This endpoint is deprecated. Use `/sales/zones` instead.
      responses:
        "200":
          description: An array of objects containing the zones sales information
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get zone sales
      tags:
      - locations
  /modes:
    get:
      description: |
        Returns modes by `locationIDs` and `groupIDs`.
      operationId: getModes
      parameters:
      - description: Which kind(s) of additional related data to load for each mode.
        in: query
        name: include
        required: false
        schema:
          enum:
          - availability
          type: string
      - description: The ids of the locations to get the modes from.
        example:
        - 01234567-89ab-cdef-0123-456789abcdef
        in: query
        name: locationIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The ids of groups of locations to get the modes from. Can be
          provided alongside additional locationIDs.
        example:
        - 01234567-89ab-cdef-0123-456789abcdef
        in: query
        name: groupIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The max number of modes to return from the given `offset`, with
          a minimum value of 1 and maximum of 250.
        in: query
        name: limit
        required: false
        schema:
          default: 250
          type: number
      - description: The rank of the modes to start searching from, starting at 0.
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
      - $ref: '#/components/parameters/paginationParam'
      - $ref: '#/components/parameters/searchParam'
      - $ref: '#/components/parameters/sortParam'
      - $ref: '#/components/parameters/orderParam'
      responses:
        "200":
          content:
            application/json:
              schema:
                discriminator:
                  mapping:
                    modeArray: '#/components/schemas/ModeArray'
                    modePaginated: '#/components/schemas/ModePaginated'
                oneOf:
                - $ref: '#/components/schemas/ModePaginated'
                - $ref: '#/components/schemas/ModeArray'
          description: An array of objects containing the modes information
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get modes
      tags:
      - modes
  /sales:
    get:
      description: |
        Returns sales along with the big division, division and item information.
        If no `locationIDs` and no `groupIDs` are specified, sales for all locations will be returned.
      operationId: getSales
      parameters:
      - deprecated: true
        description: |
          The id of the location to get sales informations from. If it is not specified, sales information for all locations will be returned.
          Since this field is deprecated, if `locationIDs` or `groupIDs` is specified, this field will be ignored
        in: query
        name: locationID
        required: false
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The ids of the locations to get the sales from
        in: query
        name: locationIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The ids of groups of locations to get sales from. Can be provided
          alongside additional locationIDs
        in: query
        name: groupIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The beginning of the time range to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider. If `useAccountingtime`
          is set to true, `to` is augmented to be at least one day after `from`
        example:
        - "2018-01-02T23:59:59Z"
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - $ref: '#/components/parameters/currencyParam'
      - description: The max number of sales to return from the given `offset`, with
          a minimum value of 1 and maximum of 250.
        in: query
        name: limit
        required: false
        schema:
          type: number
      - description: The rank of the sales to start searching from, starting at 0.
        in: query
        name: offset
        required: false
        schema:
          type: number
      - in: query
        name: useAccountingTime
        schema:
          default: true
          description: If `useAccountingTime` is true, the invoice accounting time
            will be used to filter `from` and `to`. `to` will be augmented to be at
            least one day after 'from'. If it is set to false, the invoice time will
            be used to filter `from` and `to`. The meaning of the invoice time is
            configurable in Veloce's backoffice.
          example: true
          type: boolean
      - in: query
        name: timeAggregation
        schema:
          default: all
          description: |
            -  all : Returns one result per item, accounting for the entire range
            -  none : Returns one result per sale in the specified range
          enum:
          - all
          - none
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SalesDetailed'
                type: array
          description: An object containing the sales summaries
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get detailed sales and quantities
      tags:
      - sales
  /sales/bigDivisions:
    get:
      description: |
        Returns total of sales in date range for each big division and each currency.
        Sales will be grouped by the main name of the big division for multiple locations.
        If no `locationIDs` and no `groupIDs` are specified, sales for all locations will be returned.

        To get an excel report of that endpoint, add Content-Type `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`
        in your request and Velcloud-ClientTime in the headers (required in RFC3339). Use `groupByRevenueCenter` param to get the report with revenue centers.
      operationId: getSalesBigDivisions
      parameters:
      - description: The beginning of the time range to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider, augmented to
          be at least one day after 'from'
        example:
        - "2018-01-01T23:59:59Z"
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - deprecated: true
        description: |
          The id of the location to get sales informations from. If it is not specified, sales information for all locations will be returned.
          Since this field is deprecated, if `locationIDs` or `groupIDs` is specified, this field will be ignored
        in: query
        name: locationID
        required: false
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The ids of the locations to get the sales from
        in: query
        name: locationIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The ids of groups of locations to get sales from. Can be provided
          alongside additional locationIDs
        in: query
        name: groupIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - $ref: '#/components/parameters/currencyParam'
      - description: The max number of big division sales to return from the given
          `offset`, with a minimum value of 1 and maximum of 250.
        in: query
        name: limit
        required: false
        schema:
          default: 250
          type: number
      - description: The rank of the big division sales to start searching from, starting
          at 0.
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
      - $ref: '#/components/parameters/paginationParam'
      - $ref: '#/components/parameters/groupByRevenueCenterParam'
      responses:
        "200":
          content:
            application/json:
              schema:
                discriminator:
                  mapping:
                    salesBigDivisionArray: '#/components/schemas/SalesBigDivisionArray'
                    salesBigDivisionPaginated: '#/components/schemas/SalesBigDivisionPaginated'
                oneOf:
                - $ref: '#/components/schemas/SalesBigDivisionPaginated'
                - $ref: '#/components/schemas/SalesBigDivisionArray'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                description: Excel binary content
                format: binary
                type: string
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get big division sales
      tags:
      - sales
  /sales/departments:
    get:
      description: |
        Returns total of sales for each department in date range.
        If no `locationIDs` and no `groupIDs` are specified, sales for all locations will be returned.
      operationId: getDepartmentsSales
      parameters:
      - description: The beginning of the time range to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider, augmented to
          be at least one day after 'from'
        example:
        - "2018-01-02T23:59:59Z"
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - deprecated: true
        description: |
          The id of the location to get sales informations from. If it is not specified, sales information for all locations will be returned.
          Since this field is deprecated, if `locationIDs` or `groupIDs` is specified, this field will be ignored
        in: query
        name: locationID
        required: false
        schema:
          $ref: '#/components/schemas/UUID'
      - description: The ids of the locations to get the sales from
        in: query
        name: locationIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The ids of groups of locations to get sales from. Can be provided
          alongside additional locationIDs
        in: query
        name: groupIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - $ref: '#/components/parameters/currencyParam'
      - $ref: '#/components/parameters/paginationParam'
      - description: Set this to true to use the revenue center from invoice products
          rather than invoices
        in: query
        name: useItemDepartments
        schema:
          default: false
          type: bool
      - description: The max number of sales departments to return from the given
          `offset`, with a minimum value of 1 and maximum of 250.
        in: query
        name: limit
        required: false
        schema:
          default: 250
          type: number
      - description: The rank of the sales departments to start searching from, starting
          at 0.
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                discriminator:
                  mapping:
                    salesDepartmentArray: '#/components/schemas/SalesDepartmentArray'
                    salesDepartmentPaginated: '#/components/schemas/SalesDepartmentPaginated'
                oneOf:
                - $ref: '#/components/schemas/SalesDepartmentPaginated'
                - $ref: '#/components/schemas/SalesDepartmentArray'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/NotAuthenticated'
        "403":
          $ref: '#/components/responses/NotAuthorized'
        "500":
          $ref: '#/components/responses/InternalServerError'
      summary: Get department sales
      tags:
      - sales
  /sales/discounts:
    get:
      description: |
        Returns discounts and their sales amount in date range for each discount and each currency.
        Sales will be grouped by the main name of the discount for multiple locations.
        If no `locationIDs` and no `groupIDs` are specified, sales for all locations will be returned.
      operationId: getSalesDiscounts
      parameters:
      - description: The beginning of the time range to consider
        example:
        - "2018-01-01T00:00:00Z"
        in: query
        name: from
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The excluded end of the time range to consider
        example:
        - "2018-01-01T23:59:59Z"
        in: query
        name: to
        required: true
        schema:
          $ref: '#/components/schemas/DateTime'
        style: spaceDelimited
      - description: The ids of the locations to get the sales from
        in: query
        name: locationIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - description: The ids of groups of locations to get sales from. Can be provided
          alongside additional locationIDs
        in: query
        name: groupIDs
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UUID'
          type: array
      - $ref: '#/components/parameters/currencyParam'
      - description: The max number of discount sales to return from the given `offset`,
          with a minimum value of 1 and maximum of 250.
        in: query
        name: limit
        required: false
        schema:
[...]
